# dotenv environment variables file
.env.development
.env.test

# Dependency directories
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/src/public/profPic/image-*
backend/src/public/posts/image-*
!backend/src/public/profPic/image-000.jpg
!backend/src/public/profPic/image-001.jpg
!backend/src/public/profPic/image-002.jpg
!backend/src/public/profPic/image-003.jpg

!backend/src/public/posts/image-000.jpg
!backend/src/public/posts/image-001.jpg
!backend/src/public/posts/image-002.jpg
!backend/src/public/posts/image-003.jpg
!backend/src/public/posts/image-004.jpg
!backend/src/public/posts/image-005.jpg