.green-button {
    background-color: #3fc742;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }

  .green-button:hover {
    background-color: #1a511b;
  }

.red-button {
    background-color: rgb(214, 53, 53);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }

.red-button:hover {
    background-color: #7e0f0f;
}

.vertical-green-button {
  white-space: nowrap; /* Evita que el texto se envuelva */
  width: 25px; /* Ancho del botón */
  border: none; /* Elimina el borde */
  background-color: #3fc742; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 14px; /* Tamaño de fuente */
  padding: 5px; /* Relleno */
  cursor: pointer;
  position: fixed;
  right: 0;
  writing-mode: tb-rl; /* Alternativa más compatible para navegadores antiguos */
  text-orientation: upright; /* Asegura que el texto esté orientado correctamente */
}

@supports (writing-mode: vertical-rl) {
  .vertical-green-button {
    writing-mode: vertical-rl; /* Establece la escritura vertical de derecha a izquierda */
    text-orientation: mixed; /* Permite que el texto sea vertical */
  }
}

.vertical-green-button:hover {
  background-color: #1a511b;
}

.vertical-red-button {
  white-space: nowrap; /* Evita que el texto se envuelva */
  width: 25px; /* Ancho del botón */
  border: none; /* Elimina el borde */
  background-color: rgb(214, 53, 53); /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 14px; /* Tamaño de fuente */
  padding: 5px; /* Relleno */
  cursor: pointer;
  writing-mode: tb-rl; /* Alternativa más compatible para navegadores antiguos */
  text-orientation: upright; /* Asegura que el texto esté orientado correctamente */
}

@supports (writing-mode: vertical-rl) {
  .vertical-red-button {
    writing-mode: vertical-rl; /* Establece la escritura vertical de derecha a izquierda */
    text-orientation: mixed; /* Permite que el texto sea vertical */
  }
}

.vertical-red-button:hover {
  background-color: #7e0f0f;
}
