.date-picker-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .date-picker-wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    margin-right: 5px; /* Ajusta el margen entre los calendarios según sea necesario */
    margin-left: 5px; /* Ajusta el margen entre los calendarios según sea necesario */
    flex: 1; /* Hace que los wrappers ocupen igual espacio */
    margin-bottom: 300px;
  }
  .modal-dates {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 300px;
}
  