.myproffile {
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.myprofile-image {
    width: 150px; /* ajusta el tamaño según tus necesidades */
    height: 150px; /* ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
  }

  .myproffile-cont {
    display: flex; 
}


.myproffile-info {
margin-left: 170px;
flex-grow: 1;
}

.myproffile-info h1 {
    margin-bottom: 10px;
}

.myproffile-subinfo {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 20px;
}

.edit-prof-pic input {
    display: none
}

.edit-prof-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer
}

.desc-cont {
    overflow: hidden;
}

@media (max-width: 900px) {
    .myproffile {
        margin-top: 100px;
    }
}

@media (max-width: 700px) {
    .myproffile {
        display: flex;
        flex-direction: column;
    }
    .myprofile-image {
        position: sticky;
      }
      .myproffile-cont {
        justify-content: center;
        flex-direction: column; 
    }
    .myproffile-info {
        margin-left: 0px;
    }
    .myproffile-subinfo {
        display: flex;
        flex-direction: column;
    }
}