.contents {
    margin-top: 190px;
    margin-left: 20px;
}

.travel-info {
    display: grid;
    margin: 10px;
}

.status {
    display: flex;
    justify-content: right;
}

.info {
    grid-column: 1;
    overflow: hidden;
    
    margin-right: 20px;
}

.info h5 {
    overflow-wrap: break-word; /* Para navegadores modernos */
    word-wrap: break-word;
}

.atendees-with-button {
    display: flex;
    height: auto;
    justify-self: end;
    position: fixed;
}

.atendees {
    height: auto;
    justify-self: end;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.request-modal {
    width: 100px;
    height: 120px;
}

.requested {
    border: 1px solid black;
    padding: 2px;
}

@media (max-width: 900px) {
    .contents {
      margin-top: 100px;
    }
  }
